{% extends 'base.html' %}
{% block content %}

<!-- banner -->
<section class="banner_main">
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/static" class="d-flex align-items-center text-dark text-decoration-none">
                <a href="https://github.com/Theorist-Git" target="_blank" rel="noopener noreferrer"><img src="/static/svg/github.svg" width="40px" alt="github" /></a>
                <a href="mailto:someone@example.com"><img class="mx-3" src="/static/svg/mailto.svg" width="40px" alt="email" /></a>
            </a>
        </header>

        <div class="p-5 mb-4 bg-light rounded-3" style="position: relative;">
            <h1 class="display-5 fw-bold">
                Waltz: An open source, cloud-based password manager.
            </h1>
            <p class="fs-4">
                Built as a hobby project, you're better off using <a href="https://bitwarden.com/">Bitwarden</a>, <a href="https://keepassxc.org/">KeepassXC</a> etc.
            </p>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-60 p-5 text-white bg-dark rounded-3">
                    <h2>Source Code</h2>
                        <a href="https://github.com/Theorist-Git/Waltz" target="_blank" rel="noopener noreferrer">Github Repository</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-60 p-5 text-white bg-dark border rounded-3">
                    <h2>Documentation</h2>
                    <a href="https://docs.google.com/document/d/14gqeLpIeCwJndUs-l_jouSY-gEcySbOBjxlXVuc6LCI/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Google Doc</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
