{% extends 'base.html' %}
{% block content %}

<script src="/static/js/record_ciphers.js"></script>

<div class="container my-3">
    <div class="container" style="text-align: center">
        <button type="submit" id="submit" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#AddRecordModal">Add record</button>
    </div>
        <br />
</div>

<div class="container">
    <table id="vault" style="background-color: #fff;" class="table">
        <thead>
            <tr>
                <th scope="col">Ops</th>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">URL</th>
                <th scope="col">Password</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range (Password_blob| length) %}
            <tr id="tr_{{ i }}">
                <td>
                    <button onclick="FillDeleteRecordModal('{{ i }}');" data-bs-toggle="modal" data-bs-target="#DeleteRecordModal" type="button" class="btn btn-sm btn-outline-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path
                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                            />
                        </svg>
                    </button>
                    <button onclick="FillEditRecordModal('{{ i }}');" type="button" data-bs-toggle="modal" data-bs-target="#EditRecordModal" class="btn btn-outline-dark btn-sm my-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path
                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
                            />
                        </svg>
                    </button>
                </td>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ Password_blob[i].user_name }}</td>
                <td><a href="{{ Password_blob[i].url }}" target="_blank" rel="noopener noreferrer">{{ Password_blob[i].url }}</a> <br /></td>
                <td>
                    <input id="{{ i }}" class="form-control" type="password" value="{{ Password_blob[i].password }}" aria-label="Disabled input example" disabled readonly />
                    <script type="text/javascript">
                        decrypt("{{ current_user.email }}", "{{ i }}");
                    </script>
                </td>
                <td>
                    <button id="cp_{{ i }}" onclick="copy_password_{{ i }}();" type="button" class="btn btn-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                        </svg>
                    </button>
                    <script>
                        async function copy_password_{{ i }}() {
                            /* Get the text field */
                            let copyText = document.getElementById("{{ i }}");

                            /* Select the text field */
                            copyText.select();
                            copyText.setSelectionRange(0, 99999); /* For mobile devices */

                            /* Copy the text inside the text field */
                            navigator.clipboard.writeText(copyText.value);
                            document.getElementById("cp_{{ i }}").innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" className="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/></svg>';

                            function sleep(ms) {
                                return new Promise(resolve => setTimeout(resolve, ms));
                            }

                            await sleep(2000);
                            document.getElementById("cp_{{ i }}").innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16"><path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" /><path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" /></svg>';
                        }
                    </script>
                </td>
                <td style="display: none">{{ Password_blob[i].id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Add Record Modal -->
    <div class="modal fade" id="AddRecordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddRecordModalLabel">Enter Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form name="add_record" action="/vault" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="modal-body">
                        <label for="USERNAME" class="form-label">Username</label>
				        <input autofocus="autofocus" class="form-control" name="USERNAME" id="USERNAME" placeholder="Username"/>
                    </div>
                    <div class="modal-body">
                        <label for="URL" class="form-label">URL</label>
				        <input class="form-control" name="URL" id="URL" placeholder="URL" />
                    </div>
                    <div class="modal-body">
                        <label for="PASSWORD">Password</label>
                        <input type="password" class="form-control" name="PASSWORD" id="PASSWORD" placeholder="Password" />
                        <div class="input-group-append">
                            <button onclick="resetGenPass();" data-bs-toggle="modal" data-bs-target="#GenPassModal" class="btn btn-secondary my-1" type="button">Generate Password</button>
                        </div>
                    </div>
                    <div class="modal-body d-grid gap-2">
                        <button id="add-sub" type="submit" style="display: none;" class="btn btn-success">Submit</button>
                    </div>
                </form>
                <div class="modal-body d-grid gap-2">
                    <button onclick="encrypt('PASSWORD', '{{ current_user.email }}', 'add-sub')" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Record Modal   -->
    <div class="modal fade" id="EditRecordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EditRecordModalLabel">Edit Entry: </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/edit-form" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" id="UniqueID-EDIT" name="UniqueID-EDIT" value="" />

                    <div class="modal-body">
                        <label for="EditModalUsername" class="form-label">Username</label>
				        <input autofocus="autofocus" class="form-control" name="EditModalUsername" id="EditModalUsername" placeholder="Username"/>
                    </div>
                    <div class="modal-body">
                        <label for="EditModalURL" class="form-label">URL</label>
				        <input class="form-control" name="EditModalURL" id="EditModalURL" placeholder="URL" />
                    </div>
                    <div class="modal-body">
                        <label for="EditModalPassword">Password</label>
                        <input type="password" class="form-control" name="EditModalPassword" id="EditModalPassword" placeholder="Password" />
                        <div class="input-group-append">
                            <button onclick="resetGenPass();" data-bs-toggle="modal" data-bs-target="#GenPassModal" class="btn btn-secondary my-1" type="button">Generate Password</button>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button id="edit-sub" type="submit" style="display: none;"></button>
                    </div>
                </form>
                <div class="modal-body d-grid gap-2">
                    <button onclick="encrypt('EditModalPassword', '{{ current_user.email }}', 'edit-sub')" class="btn btn-success">Update Entry</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Record Modal   -->
    <div class="modal fade" id="DeleteRecordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteRecordModalLabel">Are you sure you want to delete the following entry? </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/delete-form" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" id="UniqueID-DEL" name="UniqueID-DEL" value="" />
                    <div class="modal-body">
                        <label for="DeleteModalUsername" class="form-label">-> Username</label>
				        <input class="form-control" id="DeleteModalUsername" value="" aria-label="Disabled input example" readonly />
                    </div>
                    <div class="modal-body">
                        <label for="DeleteModalURL" class="form-label">-> URL</label>
				        <input class="form-control" id="DeleteModalURL" value="" aria-label="Disabled input example" readonly />
                    </div>
                    <div class="modal-body">
                        <label for="DeleteModalPassword">-> Password</label>
                        <input class="form-control" id="DeleteModalPassword" type="password" value="" aria-label="Disabled input example" disabled readonly />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-large">Delete Entry</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Generate Password Modal      -->
    <div class="modal fade" id="GenPassModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="GenPassModalLabel">Enter Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <label for="Enter-Password-Length">Enter Password Length (1-128)</label>
                        <input class="form-control" type="number" id="Enter-Password-Length" />
                </div>
                <div class="modal-footer">
                    <button onclick="genPass();" id="cp-pass" type="submit" class="btn btn-success">Copy Password</button>
                </div>
            </div>
        </div>
    </div>

    <!-- JINJA to display flashed messages -->
    <div class="my-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-danger" role="alert">
                        {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                        {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</div>

<!-- Allows re-loading of page without the prompt to re-submit data(Search-Query) -->
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

<script>
    function FillDeleteRecordModal(row_id) {
        const tr_id = "#vault " + "tr[id=tr_" + row_id + "]";
        const row = document.querySelector(tr_id);

        document.getElementById("UniqueID-DEL").value = row.cells[6].innerHTML;
        document.getElementById("DeleteModalUsername").value = row.cells[2].innerHTML;
        document.getElementById("DeleteModalURL").value = row.cells[3].innerText;
        document.getElementById("DeleteModalPassword").value = document.getElementById(row_id).value;
    }

    function FillEditRecordModal(row_id) {
        const tr_id = "#vault " + "tr[id=tr_" + row_id + "]";
        const row = document.querySelector(tr_id);

        document.getElementById("UniqueID-EDIT").value = row.cells[6].innerHTML;
        document.getElementById("EditModalUsername").value = row.cells[2].innerHTML;
        document.getElementById("EditModalURL").value = row.cells[3].innerText;
        document.getElementById("EditModalPassword").value = document.getElementById(row_id).value;
    }

    function resetGenPass() {
        document.getElementById("cp-pass").innerHTML = "Copy Password"
    }

    function genPass() {

        const pass_len = parseInt(document.getElementById("Enter-Password-Length").value, 10);

        if (isNaN(pass_len)) {
            window.alert("Enter a number!");
            return;
        }

        const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_+[]{}|;:,.<>?";
        let password = "";

        if (pass_len < 1 || pass_len > 128) {
            window.alert("Password length should be at least 1 character and at-most 128 characters");
            return;
        }

        for (let i = 0; i < pass_len; i++) {
            const randomIndex = Math.floor(Math.random() * charset.length);
            password += charset.charAt(randomIndex);
        }

        navigator.clipboard.writeText(password);
        document.getElementById("cp-pass").innerHTML = "copied!"
    }
</script>

{% endblock content %}